/* .statistics {
    display: grid;
    grid-template-columns: 140px 1fr;
    background-image: url("./record-image.jpeg");
    background-size: 100% 35%;
    background-repeat: no-repeat;
    background-position: 175px 0;
  } */